
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="box">
        <ul *ngFor="let data of availableMessages; let i = index"> 
            <li>
              {{ data?.user?.name }} ->  &nbsp; &nbsp; &nbsp; &nbsp; {{ data?.message }}
               &nbsp; &nbsp; &nbsp; &nbsp; : {{data?.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
            </li>
          </ul>    
    </div>
</div>    

<div class="" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <form class="example-form" [formGroup]="sendForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="message" formControlName="message" type="message">
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" type="submit" [disabled]="!sendForm.valid">Send</button>
          </form>
        </mat-card>     
</div>

