<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Reset password</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ActivationCode" formControlName="activationCode">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="NewPassword" formControlName="newPassword">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="ConfirmPassword" formControlName="confirmPassword">
          </mat-form-field>

        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Reset Password</button>
      </form>
    </mat-card>
  
  </div>